body {
    color: aqua;
    font-size: large;
    width: 1000px;
    height: 500px;
    background-color: beige;;
}

h1 {
    color: #09090a;
    font-size: larger;
    font-weight: bold;
}

h2 {
    color: rgb(165, 42, 42);
    font-size: large;
    font-weight: normal;
}